:root {
    --back-color: rgb(198, 241, 241);
    --pageFont: "Playwrite DE Grund", cursive;
    --text-color: aqua;
}

body {
  background-color: var(--back-color);
  font-family: var(--pageFont);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
}

h1, h3, p {
    text-align: center;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 25px;
}

.btn-contact {
    background-color: black;
    color: var(--text-color);
    display: block !important;
    margin: 30px auto !important;
    padding: 5px;
    width: 20%;
}
