:root {
    --back-color: rgb(198, 241, 241);
    --pageFont: "Playwrite DE Grund", cursive;
    --text-color: aqua;
}

body {
  background-color: var(--back-color);
  font-family: var(--pageFont) !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
}

h1, h3, h6, p {
    text-align: center;
}

h1 {
    display: block;
    font-size: 60px;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

h6 {
    background: white;
    border-radius: 10px;
}

p {
    font-size: 25px;
}

.btn {
    background-color: black;
    color: var(--text-color);
    display: block !important;
    margin: 30px auto !important;
    padding: 5px;
}

.btn-contact {
    width: 15%;
}

.nav {
    margin-bottom: 10px;
}

.project {
    background: white;
    border-radius: 10px;
    margin: 20px;
    padding: 0px;
}

.work-header,  .work-caption, .work-paragraph, .work-button {
    font-family: "Lora", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.work-button {
    padding: 10px;  
} 

.work-caption {
    display: block;
    margin: 0 auto;
}

.work-image {
    display: block;
    margin: 0 auto;
}